@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.container {
    box-shadow: 1px 1px 5px #c5c5c5;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.container h1 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f3f3f3;
}

.todo-input {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
}

#input-todo, #btn-add-todo {
    font-size: 1em;
}

#input-todo {
    border: 0;
    width: 100%;
    padding: 10px;
    flex: 9;
}

#btn-add-todo {
    border: 0;
    padding: 10px 30px;
    width: 100%;
    flex: 1;
}

.todo-lists {
    padding: 0;
    margin: 0;
}

.todo-item {
    list-style: none;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
}

.checkbox {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    border: 1px solid black;
}

.delete {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.todo-item label:hover ~ .delete::after, .delete:hover::after {
    content: "×";
    color: #ff3333;
}

.todo-item input[type='checkbox']:checked ~ .checkbox::after {
    content: "✓";
    position: absolute;
    font-size: 18px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.todo-item input[type='checkbox'] {
    display: none;
}

.todo-item input[type='checkbox']:checked ~ label {
    text-decoration: line-through;
    color: #e3e3e3;
}

.todo-item label {
    display: block;
    padding: 10px 40px;
    text-align: left;
}

@media (max-width: 500px) {
    body {
        font-size: 0.5em;
    }
    .container {
        width: 90%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}